html {
  scroll-behavior: smooth;
}

/*Fuentes de Landing*/
    @font-face {
        font-family: 'Gotham-Bold';
        src: url('../fonts/Gotham-Bold_3.otf') format('truetype');
    }

    @font-face {
        font-family: 'Gotham-Light';
        src: url('../fonts/Gotham-Light_3.otf') format('truetype');
    }

    @font-face {
        font-family: 'Gotham-Medium';
        src: url('../fonts/Gotham-Medium_2.otf') format('truetype');
    }

    @font-face {
        font-family: 'Gotham-Ultra';
        src: url('../fonts/Gotham-Ultra.otf') format('truetype');
    }

    @font-face {
        font-family: 'Dliya-Regular';
        src: url('../fonts/Dliya-Regular.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Gotham-Black';
        src: url('../fonts/Gotham-Black_3.otf') format('truetype');
    }
    .gothambold {
        font-family: 'Gotham-Bold';
    }

    .gothamlight {
        font-family: 'Gotham-Light';
    }

    .gothammedium {
        font-family: 'Gotham-Medium';
    }

    .gothamultra {
        font-family: 'Gotham-Ultra';
    }
    .gothamblack {
        font-family: 'Gotham-Black';
    }

    .dliyabold {
    font-family: 'Dliya-Regular'
}

    body {
        color: #757475;
    }

    .preloader-animation:after, .preloader-animation:before,.preloader-animation{
    border-top-color: #204491;
}

    .btn.focus, btn:focus {
    box-shadow: none;
}

    .cabeceramenu {
        padding-top: 0.5rem;
    }

    .orderimagen {
        order: 2;
        display: flex;
        justify-content: flex-end;
        align-items: center;

    }

    .orderinfo {
        order: 2;

    }

    .contenedorinfomenu {
        display: flex;
        justify-content: center;
        padding-right: 0%;
        padding-left: 0%;
    }

    .contenedorlogo {
        display: block;
    }

    .contenedorlogo p{
        color:#f68d2e;
    }

    .cabeceramenu {
        background-color: #04294F;
        padding: 1rem;
    }

    .contenedorlogo {
        display: flex;
        justify-content: center;
    }

    .contenedorinfomenu {
        display: flex;
        justify-content: center;
        padding-right: 1rem;
        padding-left: 1rem;
        padding-bottom: 1rem;
        padding-top: 0.5rem;
    }

    .imageninfomenu {
        flex-basis: 15%;
        text-align: right;
    }

    .cabeceramenu p{
        margin-top: 1.5rem;
        text-transform: uppercase;
        font-size: 1.0rem;
        line-height: 120%;
        text-align: center;
    }

    .cabeceramenu span{
        color: #ffffff;
    }

    .bannercabecera {
        background-image: url(../images/banner.gif);
        color: #fff;
        /*min-height: calc(80vh - 120px);*/
        background-size: cover;
        position: relative;
    }

    .bannercabecera:before {
        content: "";
        /*background-color: rgba(51, 51, 51, .70);*/
        position: absolute;
        height: 120%;
        width: 100%;
        overflow: hidden;
    }

/*baner*/

/* back to top start*/

#myBtn {
  display: none; 
  position: fixed; 
  bottom: 40px; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: #f68d2e; 
  color: white;
  cursor: pointer; 
  padding: 10px; 
  font-size: 18px; 
}

#myBtn:hover {
  background-color: #04294F; /* Add a dark-grey background on hover */
}

/* back to top end*/


/**/
.button{
    display: none!important;
}
/**/


/*Logo cientifica start */

    .contenedorlogovive {
        display: flex;
        align-items: center;
        padding: 1rem 1rem 2rem;
        background-size: cover;
        position: relative;
        min-height: 90vh;

    }

    .contenedorlogovive img{
        margin-bottom: 2rem;
    }

    .contenedorlogovive p{
        font-size: 1.6rem;
        text-transform: uppercase;
        margin-bottom: 0rem;
    }

    .titlecarrera{
        font-size: 3.2rem;
        line-height: 90%;
        color: #f68d2e;
        /*text-shadow: 2px 2px 5px #ffffff;*/
    }

/*Logo cientifica edn */

/* Formulario start*/
    .contenedorfomulario {
        padding: 2rem 1.5rem 2rem;
        border: 0px solid #ffffff;
        margin-bottom: 6rem;
        border-radius: 0.8rem;
        background: linear-gradient(220deg, rgba(255,128,2,1) 2%, rgba(255,201,0,1) 90%);

    }

    .contenedorfomulario h1 {
        font-size: 1.8rem;
        letter-spacing: 2px;
        text-align: center;
    }

    .form-control {
        -webkit-appearance: none;
        line-height: 1.2;
        /*background-color: transparent;*/
        background-color: #ffffff;
        border: none;
        border-bottom: 2px solid white;
        border-radius: .2rem;
        color: #9F9F9F;
    }

    .btn {
        border-radius: .0rem;
    }
    
    .mi-input::placeholder { color: #9F9F9F;}

    .politica {
        font-size: .7rem;
    }

    .politica a {
        color: #000000;
        text-decoration: none;
    }

    .btnenviar {
        background-color: #001E92;
        color: #fff;
        letter-spacing: 1px;
        font-size: 1.5rem;
        border-radius: 0.2rem;
    }

    .btlanding {
        background-color: #FFC900;
        color: #000000;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 0.8rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

.card-body {
    margin-top: -3rem;
}

.card {
    border: 0px!important;
}

/* Formulario end*/

/*Icono bannercabecera star*/

    .mouse {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 80px;
      color: #ffffff;
        }

    .mouse-icon {
      width: 70px;
      height: 70px;
      border: 1px solid transparent;
      cursor: pointer;
      position: relative;
      text-align: center;
      margin: 0 auto;
      display: block; }
      .mouse-icon:after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        background: #edf0ff;
        z-index: -1;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }

    .mouse-wheel {
      height: 70px;
      margin: 2px auto 0;
      display: block;
      width: 30px;
      background: transparent;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      -webkit-animation: 1.6s ease infinite wheel-up-down;
      -moz-animation: 1.6s ease infinite wheel-up-down;
      animation: 1.6s ease infinite wheel-up-down;
      color: #3e64ff;
      font-size: 50px; 
    }

    .ion-ios-arrow-round-down:before {
        color: #ffffff;
        }

    @-webkit-keyframes wheel-up-down {
      100% {
        margin-top: 25px;
        opacity: 1; }
      30% {
        opacity: 1; }
      0% {
        margin-top: -10px;
        opacity: 0; } }

    @-moz-keyframes wheel-up-down {
      100% {
        margin-top: 25px;
        opacity: 1; }
      30% {
        opacity: 1; }
      0% {
        margin-top: -10px;
        opacity: 0; } }

    @keyframes wheel-up-down {
      100% {
        margin-top: 25px;
        opacity: 1; }
      30% {
        opacity: 1; }
      0% {
        margin-top: -10px;
        opacity: 0; } }

    @-webkit-keyframes pulse {
      0% {
        -webkit-box-shadow: 0 0 0 0 rgba(62, 100, 255, 0.4); }
      70% {
        -webkit-box-shadow: 0 0 0 30px rgba(62, 100, 255, 0); }
      100% {
        -webkit-box-shadow: 0 0 0 0 rgba(62, 100, 255, 0); } }

    @keyframes pulse {
      0% {
        -moz-box-shadow: 0 0 0 0 rgba(62, 100, 255, 0.4);
        -webkit-box-shadow: 0 0 0 0 rgba(62, 100, 255, 0.4);
        box-shadow: 0 0 0 0 rgba(62, 100, 255, 0.4); }
      70% {
        -moz-box-shadow: 0 0 0 30px rgba(62, 100, 255, 0);
        -webkit-box-shadow: 0 0 0 30px rgba(62, 100, 255, 0);
        box-shadow: 0 0 0 30px rgba(62, 100, 255, 0); }
      100% {
        -moz-box-shadow: 0 0 0 0 rgba(62, 100, 255, 0);
        -webkit-box-shadow: 0 0 0 0 rgba(62, 100, 255, 0);
        box-shadow: 0 0 0 0 rgba(62, 100, 255, 0); } }   

/*Mouse end*/


/* Acerca start */

    .contenedoracerca{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4rem;
        background-color: #ffffff;
    }

    .contenedoracercadetalle{
        text-align: left;
    }

    .contenedoracercadetalle h1{
        text-transform: uppercase;
        color:#23BEFF;
        letter-spacing: 3px;
        margin: 1rem 1rem 2rem;
        text-shadow: -2px -2px 0 #000, -2px -1px 0 #000, -2px 1px 0 #000, -2px 2px 0 #000, -1px -2px 0 #000, -1px -1px 0 #000, -1px 1px 0 #000, -1px 2px 0 #000, 1px -2px 0 #000, 1px -1px 0 #000, 1px 1px 0 #000, 1px 2px 0 #000, 2px -2px 0 #000, 2px -1px 0 #000, 2px 1px 0 #000, 2px 2px 0 #000, -3px 3px 0 #000, -4px 4px 0 #000, -5px 5px 0 #000, -6px 6px 0 #000;
    }

    .contenedoracercadetalle p{
        color:#4B4B59;
        margin: .5rem .5rem .5rem;
        font-size: 1.2rem;
    }

/* Acerca end */

/* Porque la científica start */

    .contenedorporque{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4rem;
        background-color: #ffffff;
    }

    .contenedorporquedetalle{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
    }

    .imagenitemskills{    
        margin: 1rem;
    }

    .contenedorporquedetalletexto{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .contenedorporquedetalletexto h1{
        text-transform: uppercase;
        color:#04294F;
        letter-spacing: 3px;
        margin: 1rem 1rem 1rem;
    }

    .contenedortextoskills {
        padding-top: 1rem;
    }

    .contenedortextoskills h3{
        text-align: center;
        color:#04294F;
    }

    .contenedortextoskills p{
         color:#4B4B59;
        text-align: justify;
        font-size: 1.2rem;
    }

/* Porque la científica end */

/* Trabajare start */

    .contenedortrabajare{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4rem;
        background-color: #04294F;
    }

    .contenedortrabajaredetalle h1{
        text-align: center;
        text-transform: uppercase;
        color:#ffffff;
        letter-spacing: 3px;
        margin: 1rem 1rem 1rem;
    }

    .contenedortrabajaredetalle ul {
        padding: 1rem 0;
        font-size: 1.3rem;
        color: #ffffff;
        list-style-position: inside;
    }

    .contenedortrabajaredetalleitems ul {
        padding: 1rem 0;
        font-size: 1.3rem;
        color: #ffffff;
        list-style-position: inside;
    }

/* Trabajare end */

/* Campus start */

    .contenedorcampus{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4rem 4rem 0rem;
        background-color: #ffffff;
        position:relative;
    }


    .contenedorcampusimagen {
    position:absolute;
    }

    .contenedorcampusdetalle{
        

    } 

    .contenedorcampusdetalle h1{
        text-align: center;
        text-transform: uppercase;
        color:#23BEFF;
        letter-spacing: 3px;
        margin: 1rem 2rem 1rem;
        text-align: left;
        text-shadow: -2px -2px 0 #000, -2px -1px 0 #000, -2px 1px 0 #000, -2px 2px 0 #000, -1px -2px 0 #000, -1px -1px 0 #000, -1px 1px 0 #000, -1px 2px 0 #000, 1px -2px 0 #000, 1px -1px 0 #000, 1px 1px 0 #000, 1px 2px 0 #000, 2px -2px 0 #000, 2px -1px 0 #000, 2px 1px 0 #000, 2px 2px 0 #000, -3px 3px 0 #000, -4px 4px 0 #000, -5px 5px 0 #000, -6px 6px 0 #000;
    }

    .contenedorcampusdetallemapa{
        padding: 0.5rem 0rem 0.5rem;
        line-height: 140%;
        /*position:absolute;*/
    }

     .itemcampusactivo span{
         font-size: 1.4rem;
         margin: 0.2rem 0.5rem 0.2rem;
         color: #000000;
    }

    .formatopostulante{

    }

    .formatopostulante h1{
        color:#04294F;
        text-transform: uppercase;
        font-size: 1.2rem;
    }

    .gmaps {
          height: 400px;
          width: 100%;
          background-color: #ccc;
          margin-top: 10px;
          position: relative;
        }

    .marker-card{

    }

    .marker-card h2{
    font-size: 0.5rem; 
    font-family: 'Gotham-Bold';    
    }

    .itemcampusactivo {
        padding-bottom: 0rem;
        display: flex;
        align-items: center;
    }

    .itemcampusactivo img {
        vertical-align: middle;
        border-style: none;
        margin: 0.2rem;
    }

/* Campus end */

/* Reconocimiento start */

    .reconocimiento{
        background-image: url("../images/fondo-carreras.jpg");
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4rem;
        background-color: #ffffff;
    }

    .reconocimientotitulo{
    padding: 1rem 10rem 2rem 10rem;
    }

    .reconocimientotitulo h1{
        text-align: center;
        text-transform: uppercase;
        color:#FFC50A;
        letter-spacing: 8px;
        margin: 1rem 2rem 1rem;
        text-shadow: -2px -2px 0 #000, -2px -1px 0 #000, -2px 1px 0 #000, -2px 2px 0 #000, -1px -2px 0 #000, -1px -1px 0 #000, -1px 1px 0 #000, -1px 2px 0 #000, 1px -2px 0 #000, 1px -1px 0 #000, 1px 1px 0 #000, 1px 2px 0 #000, 2px -2px 0 #000, 2px -1px 0 #000, 2px 1px 0 #000, 2px 2px 0 #000, -3px 3px 0 #000, -4px 4px 0 #000, -5px 5px 0 #000, -6px 6px 0 #000;
    }

    .reconocimientoimagenes{
padding: 1rem 10rem 2rem 10rem;
    }


    .reconocimientoimagenes p{
        text-align: center;
        text-transform: uppercase;
    }

.formatobold{
        font-size: 1.8rem;
    color:#ffffff;
}
.formatolight{
        font-size: 1.6rem;
    color:#ffffff;
}
    .reconocimientoimagenes img{
        vertical-align: middle;
        border-style: none;
        margin: 3rem 0rem 3rem;
        padding: 3rem 3rem 3rem;
    }


/* Reconocimiento end */


/* Marquisinas start */ 

    .marqueyltc {
        background-color: #000000;
        color: #fff;
        padding-top: 2rem;
        padding-bottom: 2rem;
        text-align: center;
    }
    .sombreado{
      background: -webkit-linear-gradient(#FF8002, #FFC900);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .marqueyltc h1 {
        font-size: 1.8rem;
        letter-spacing: 2px;
    }

.bordeado{
  -webkit-text-stroke: 0.5px orange;
  color: transparent;   
}
  

/* Marquisinas end */ 


/* Pie start */ 

    .pie {
        background: linear-gradient(220deg, rgba(94,158,215,1) 2%, rgba(49,69,138,1) 90%);
        color: #fff;
        padding-top: 2rem;
        padding-bottom: 2rem;
        text-align: center;
    }
    .pie h1 {
        margin: 1.5rem 0rem 0rem 0rem;
        font-size: 1.4rem;
        letter-spacing: 1px;
    }

/* Pie end */ 


/*Media Querys*/

@media screen and (max-device-width : 480px) {
    
    html {
    }
    
    .orderimagen {
        order: 2;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .orderinfo {
        order: 1;

    }
      
    .titlecarrera{
    font-size: 2.2rem;
    line-height: 90%;
    }
    
    .contenedorlogovive{
    margin-bottom: 3rem;
    padding-top: 0rem;
    margin-top: 0rem;
    min-height: 42vh;
    }
    
    
    
    
    
    .contenedorlogovive p{
       margin-bottom: 0rem;
        margin-top: 0rem;
    }
    
    .contenedorfomulario{
        margin-top: -5rem;
    }
    
    .contenedoracercadetalle h1{
        font-size: 1.2rem;
        margin: 0.5rem 0.5rem 0.5rem;
        text-align: center;
    }
    
    .reconocimientotitulo{
        font-size: 1.2rem;
        padding: 1rem 0rem 1rem 0rem;
    }
    
    .reconocimientoimagenes {
        padding: 1rem 0rem 2rem 0rem;
    }
    
    .reconocimientoimagenes p{
        font-size: 1.0rem;
    }
    
    .button{
    visibility: visible!important;
    }
    
    .contenedoracerca {
        padding: 1.5rem!important;
    }
    
    .contenedorporquedetalletexto h1 {
        text-align: center;
        font-size: 1.5rem;
        margin: 0.5rem .5rem .5rem;
    }
    
    .contenedorporque {
        padding: 1.5rem!important;
    }
    
    .contenedortextoskills p {
        text-align: center;
    }

    .contenedortrabajare {
    padding: 1.5rem!important;
    }

    .contenedortrabajaredetalle h1 {
            text-align: center;
            font-size: 1.8rem;
            margin: 0.5rem .5rem .5rem;
    }

    .contenedortrabajaredetalleitems ul {
        padding: 0.5rem;
        font-size: 1rem;
    }

    .contenedortrabajaredetalle h1{
        font-size: 1.5rem;    
        margin: 1rem 1rem 2rem;
    }  
 
    .contenedorcampus{
        padding: 1.5rem!important;
        margin-bottom: 0rem;
        
    }
    
    .itemcampusactivo span{
        margin-bottom: 1rem;
    }
    
    .contenedorcampusdetalle h1{
        font-size: 1.2rem;
        margin: 2rem 2rem 2rem;
        text-align: center;
    }
    
    .contenedorcampusdetallemapa{
        padding: 0.5rem;
         margin: 0.5rem .5rem .5rem;
       
    }
    
    .reconocimiento{
        padding: 0rem!important;
    }
    
    .reconocimiento h1{
        font-size: 1.2rem;    
        margin: 1rem 0rem 1rem;
    }  
    
    .formatolight {
    font-size: 1.0rem;
    
    }
    
    .formatobold {
    font-size: 1.0rem;
    color: #ffffff;
    }
    
    .reconocimientoimagenes img {
    margin: 1rem 0rem 1rem;
    padding: 1rem 2rem 1rem;
    }
    
    .itemcampusactivo span {
    font-size: 1.0rem;
    margin: 0.2rem 0.5rem 0.2rem;
    
    }
    
}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

